[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
uvicorn = "*"
pydantic = "*"
sqlalchemy = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
